.container {
  margin-left: 50px; }

ul {
  width: 500px;
  list-style: none;
  padding: 0;
  border: 1px solid lightblue; }

li {
  min-height: 200px;
  transition: min-height 1s; }

.minimize {
  min-height: 0px; }

h2 {
  background-color: lightblue;
  margin: 0;
  height: 30px; }

h2:hover {
  cursor: pointer; }

p {
  padding: 10px; }
