body {
}
	.container {
		margin: 0 auto;
		width: 500px;
		border: 1px solid lightblue;
		}
		h2 {
			background-color: lightblue;
			margin: 0;
			height: 30px;
		}
		h2:hover {
			cursor: pointer;
		}
		.close {
		height: 0px;
		transition: 1s;
		overflow: hidden;
		}
		.open {
		min-height: fit-content;
		display: block;
		overflow: hidden;
		}
		

